<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post In Details</title>
</head>
<body>
    <h1>Here is details of the Post</h1>
    <p>Post id:<%=post.id%></p>
    <div class="post">
        <h2 class="user">$<%= post.username%></h2>
        <h4 class="content"><%= post.content %></h4>
    </div>
    <a href="http://localhost:3000/posts">Go Back</a>
</body>
</html>